# Data folders


# Environment files
.env
*.env
!env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
.venv/
ML Project/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db